<fieldset>

    <!-- Name -->
    <div class="form-group">
        <label for="league-title">League Name</label><br>
        <input class="form-control" id="league-title" type="text" name="name"
            value="{{leagues.name}}" />
    </div>

    <!-- Country -->
    <div class="form-group">
        <label for="country-text">Country</label><br>
        <input class="form-control" id="country-title" type="text" name="country" 
        value="{{leagues.country}}"/>
    </div>

    <!-- Number of teams -->
    <div class="form-group">
        <label for="number-teams"> Number of teams </label><br>
        <input class="form-control" id="number-teams" type="text" name="numberOfTeams"
            value="{{leagues.numberOfTeams}}" />
    </div>


</fieldset>